<div class="container">
  <div class="row">
    <h1 class="text-center mb-5"><span>Basic</span> Form</h1>
  </div>
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <form (ngSubmit)="submit(f)" #f="ngForm">
        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control"
            [ngClass]="[
              !nameInput.value && nameInput.touched ? 'is-invalid' : '',
              nameInput.value ? 'is-valid' : ''
            ]"
            style="transition: all 0.2s ease-in-out"
            id="name"
            placeholder="My Name"
            [(ngModel)]="user.name"
            name="name"
            required
            #nameInput="ngModel"
          />
          <label for="floatingInput">My Name</label>
        </div>
        <div class="form-floating mb-3">
          <input
            type="email"
            class="form-control"
            [ngClass]="[
              emailInput.touched && !emailInput.valid ? 'is-invalid' : '',
              emailInput.value && emailInput.valid ? 'is-valid' : ''
            ]"
            style="transition: all 0.2s ease-in-out"
            id="floatingInput"
            placeholder="name@example.com"
            [(ngModel)]="user.email"
            name="email"
            required
            pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
            #emailInput="ngModel"
          />
          <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating mb-3">
          <input
            type="password"
            class="form-control"
            [ngClass]="[
              !passInput.value && passInput.touched ? 'is-invalid' : '',
              passInput.value ? 'is-valid' : ''
            ]"
            style="transition: all 0.2s ease-in-out"
            id="floatingPassword"
            placeholder="Password"
            [(ngModel)]="user.pass"
            name="pass"
            required
            #passInput="ngModel"
          />
          <label for="floatingPassword">Password</label>
        </div>
        <div class="form-floating form-control p-3">
          <div class="form-check form-check-inline" *ngFor="let g of genders">
            <input
              class="form-check-input"
              type="radio"
              name="gender"
              [id]="g"
              [value]="g"
              [(ngModel)]="user.gender"
              [checked]="user.gender"
            />
            <label class="form-check-label" [for]="g">{{
              g | titlecase
            }}</label>
          </div>
        </div>

        <div class="form-floating">
          <div *ngIf="!f.valid; else isValidForm">
            <span
              class="btn btn-warning form-control p-3 mt-5"
              [ngClass]="!evilBatton ? 'btn-warning' : 'btn-danger'"
              style="transition: all 0.3s ease-in-out"
              (click)="evilBatton = true"
            >
              {{
                !evilBatton
                  ? 'Click on me NOW!!'
                  : 'Does not work if you just click'
              }}
              &#160;
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-emoji-smile-upside-down"
                viewBox="0 0 16 16"
                *ngIf="!evilBatton"
              >
                <path
                  d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zm0-1a8 8 0 1 1 0 16A8 8 0 0 1 8 0z"
                />
                <path
                  d="M4.285 6.433a.5.5 0 0 0 .683-.183A3.498 3.498 0 0 1 8 4.5c1.295 0 2.426.703 3.032 1.75a.5.5 0 0 0 .866-.5A4.498 4.498 0 0 0 8 3.5a4.5 4.5 0 0 0-3.898 2.25.5.5 0 0 0 .183.683zM7 9.5C7 8.672 6.552 8 6 8s-1 .672-1 1.5.448 1.5 1 1.5 1-.672 1-1.5zm4 0c0-.828-.448-1.5-1-1.5s-1 .672-1 1.5.448 1.5 1 1.5 1-.672 1-1.5z"
                />
              </svg>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-emoji-smile-fill"
                viewBox="0 0 16 16"
                *ngIf="evilBatton"
              >
                <path
                  d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zM7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zM4.285 9.567a.5.5 0 0 1 .683.183A3.498 3.498 0 0 0 8 11.5a3.498 3.498 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.498 4.498 0 0 1 8 12.5a4.498 4.498 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683zM10 8c-.552 0-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5S10.552 8 10 8z"
                />
              </svg>
              <strong class="text-danger" *ngIf="evilBatton"> </strong>
            </span>
          </div>

          <ng-template #isValidForm>
            <button type="submit" class="btn btn-success form-control p-3 mt-5">
              Submit
            </button>
          </ng-template>
        </div>
      </form>
    </div>
  </div>
</div>
