<div class="row">
  <div class="col-12 mb-4">
    <h1 class="text-center"><span>List </span> Shoppind</h1>
  </div>

  <div class="col-12">
    <div class="row">
      <form (ngSubmit)="onSubmit(f.value)" #f="ngForm">
        <div class="col-lg-6 offset-lg-3 d-flex">
          <div class="form-floating mb-3 w-75 me-3">
            <input
              type="text"
              class="form-control"
              id="name"
              placeholder="Name"
              [ngModel]="item.name"
              name="name"
              required
            />
            <label for="name">Name</label>
          </div>
          <div class="form-floating">
            <input
              type="text"
              class="form-control"
              id="amount"
              placeholder="Amount"
              [ngModel]="item.amount"
              name="amount"
              required
            />
            <label for="amount">Amount</label>
          </div>
        </div>
        <div class="col-lg-6 offset-lg-3">
          <div
            class="btn-group d-flex flex-wrap"
            role="group"
            aria-label="Basic mixed styles example"
            *ngIf="isAdd; else saveContent"
          >
            <button
              type="submit"
              class="btn btn-success"
              style="line-height: 40px"
              [disabled]="!f.valid"
            >
              Add
            </button>
          </div>
          <ng-template #saveContent>
            <div
              class="btn-group d-flex flex-wrap text-right mb-4"
              role="group"
              aria-label="Basic mixed styles example"
            >
              <button
                type="button"
                class="btn btn-danger w-50"
                style="line-height: 40px"
                (click)="onDelete()"
              >
                Delete Item
              </button>
              <button
                type="button"
                class="btn btn-warning w-50"
                style="line-height: 40px"
                (click)="onClear()"
              >
                Clear
              </button>
            </div>
            <div
              class="btn-group d-flex flex-wrap"
              role="group"
              aria-label="Basic mixed styles example"
            >
              <button
                type="submit"
                class="btn btn-success w-100 mb-4"
                style="line-height: 40px"
                [disabled]="!f.valid"
              >
                Save
              </button>
            </div>
          </ng-template>
        </div>
      </form>
    </div>
  </div>
</div>
