.list-inline-item {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  border-bottom: 1px solid var(--bs-gray);

  &:hover {
    .list-inline-item-options {
      right: 0;
      opacity: 1;
    }
  }

  &-options {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 18px;
    top: 0;
    right: -100px;
    background-color: var(--bs-green);
    border-radius: 4px 0 0 4px;
    padding: 8px;
    cursor: pointer;
    opacity: 0;
    transition: all 0.3s ease-in-out;

    svg {
      fill: var(--bs-white);
      margin: 0 5px;
      width: 20px;
      height: 20px;
    }
  }

  .form-check {
    display: flex;
    align-items: center;
    padding-left: 5px;

    .form-check-input {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      flex-shrink: 0;
      margin-right: 10px;
      margin-left: 0;

      &:checked {
        background-color: var(--bs-green);
        border-color: var(--bs-green);
      }
    }

    .form-check-label {
      width: calc(100% - 40px);
      min-height: 40px;
      display: flex;
      align-items: center;
      padding: 5px 10px;
    }
  }
}
.checked-item {
  .form-check {
    .form-check-label {
      position: relative;
      transition: all 0.3s ease-in-out;
      color: var(--bs-green);

      &::before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: rgb(25 135 84 / 50%);
        border-radius: 4px;
      }
    }
  }
}
